.u-section-1 {
  background-image: url("images/lowpoly1-hr.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 833px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 148px 775px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 203px auto 0 0;
  padding: 10px 36px 12px 35px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -44px auto 0 213px;
  padding: 10px 36px 12px 35px;
}

.u-section-1 .u-gallery-1 {
  height: 584px;
  width: 591px;
  margin: -353px 0 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -452px 634px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 575px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 13px;
  }

  .u-section-1 .u-gallery-1 {
    margin-right: -50px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 434px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 355px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 27px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-1 {
    height: 407px;
    width: 370px;
    margin-top: -206px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -494px;
    margin-right: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 175px;
  }

  .u-section-1 .u-gallery-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 115px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -129px;
    margin-left: auto;
    padding: 11px 25px 11px 24px;
  }

  .u-section-1 .u-gallery-1 {
    height: 400px;
    margin-top: 292px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-over-slide-1 {
    padding: 30px;
  }

  .u-section-1 .u-over-slide-2 {
    padding: 30px;
  }

  .u-section-1 .u-over-slide-3 {
    padding: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -577px;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1119px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 342px;
  animation-duration: 1000ms;
}

.u-section-2 .u-image-1 {
  background-image: url("images/2f08494960d5d38bf9a0047f6be3320d8d31be5e18885fad8aae0d0d415866e10d3ada4af277e79725ea2fea1b7a2a7ef9ea677af578e5d084cd6c_1280.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  margin-bottom: 0;
  padding: 30px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/2f08494960d5d38bf9a0047f6be3320d8d31be5e18885fad8aae0d0d415866e10d3ada4af277e79725ea2fea1b7a2a7ef9ea677af578e5d084cd6c_1280.png");
  min-height: 342px;
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 313px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 313px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/2f08494960d5d38bf9a0047f6be3320d8d31be5e18885fad8aae0d0d415866e10d3ada4af277e79725ea2fea1b7a2a7ef9ea677af578e5d084cd6c_1280.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  min-height: 337px;
  background-image: url("images/2f08494960d5d38bf9a0047f6be3320d8d31be5e18885fad8aae0d0d415866e10d3ada4af277e79725ea2fea1b7a2a7ef9ea677af578e5d084cd6c_1280.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 337px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0 40px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 40px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 282px;
  }

  .u-section-2 .u-image-2 {
    min-height: 282px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 258px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 258px;
  }

  .u-section-2 .u-image-4 {
    min-height: 278px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 278px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 216px;
  }

  .u-section-2 .u-image-2 {
    min-height: 216px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 198px;
  }

  .u-section-2 .u-image-4 {
    min-height: 213px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2128px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 486px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 446px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 479px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1426px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-2 .u-image-2 {
    min-height: 306px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 281px;
  }

  .u-section-2 .u-image-4 {
    min-height: 302px;
  }
}