.u-section-1 {
  background-image: url("images/lowpoly1-hr.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 808px;
}

.u-section-1 .u-gallery-1 {
  height: 497px;
  width: 486px;
  margin: 168px 0 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-weight: normal;
  margin: -481px 673px 0 16px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  margin: 20px 597px 0 16px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 58px auto 0 20px;
  padding: 11px 50px 11px 49px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: -44px auto 60px 270px;
  padding: 11px 50px 11px 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 489px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 413px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 269px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 193px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 89px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-1 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1119px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 992px;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/blueschoolbackpackwithessentialsupplies_232148207678.jpg");
  min-height: 496px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  margin-bottom: 0;
  padding: 30px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/89f80abe-6acd-d8dc-a341-3e571206975b.jpg");
  min-height: 496px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 496px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-image-3 {
  min-height: 496px;
  background-image: url("images/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 818px;
  }

  .u-section-2 .u-image-1 {
    min-height: 409px;
  }

  .u-section-2 .u-image-2 {
    min-height: 409px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 409px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-3 {
    min-height: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 313px;
  }

  .u-section-2 .u-image-2 {
    min-height: 313px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-image-3 {
    min-height: 313px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-2 .u-image-1 {
    min-height: 704px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 704px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-3 {
    min-height: 704px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-2 .u-image-1 {
    min-height: 443px;
  }

  .u-section-2 .u-image-2 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-3 {
    min-height: 443px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 726px;
}

.u-section-3 .u-text-1 {
  font-size: 3.4375rem;
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 103px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 455px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 375px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 551px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}